body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;

}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    margin: 0;
    margin-top: 65px;
}
.navbar {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 65px;
    border: 1px solid #35444f;
    background-color: #35444f;
}
.navbar-link {
    margin: 0 auto;
    text-decoration: none;
    margin-left: 85px;
    color: #fff;
    font-size: 24px;
}
.navbar-link:hover {
    opacity: 0.5s;
    color: #222f3a;
}
.content {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.left-menu {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 45px;
    border: 1px solid #485863;
    width: 345px;
    height: 400px;
    position: absolute;
}
.left-menu-link {
    margin-left: 20px;
    text-decoration: none;
    color: #485863;
    font-size: 30px;
}
.right-content {
    margin-left: auto;
    width: 840px;
    height: 530px;
    text-align: center;
    border: 1px solid #35444f;
    position: absolute;
    left: 438px;
    top: 45px;
}
.img {
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.text {
    margin-left: auto;
    width: 820px;
    text-align: justify;
    position: absolute;
    top: 650px;
    right: 0;
}
.footer {
    width: 1280px;
    max-width: 100%;
    height: 69px;
    border: 1px solid #b4b7ba;
    background-color: #b4b7ba;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1200px;
}
.footer-link {
    font-size: 25px;
    color: #0c1927;
    margin-left: 45px;
    text-decoration: none;
}
.footer-link-elem {
    font-size: 25px;
    color:#0c1927;
    margin-left: auto;
    padding-right: 35px;
    text-decoration: none;
}
.footer-link:hover{
    transition: opacity 0.1s;
    color: #3181a6;
    text-decoration: underline #3181a6;
}
.footer-link-elem:hover {
    color: #3181a6;
    text-decoration: underline #3181a6;
}
.left-menu-link:hover {
    color: #000;
    margin-left: 70px;
    box-shadow: 20px#485863;
}
